@import url("https://hackersm9.github.io/Fonts/fonts.css");
/* Reset and Dark Mode */
body {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body, html {
    background-color: #121212;
    color: #e1e1e1;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #121212;
}

.icon-svg {
    width: 24px;
    height: 24px;
    fill: #bb86fc;
    vertical-align: middle;
    margin-right: 8px;
}

.title {
    color: #8533ff;
    font-family: Agustina;
    font-size: 250%;
    margin: 0;
}

footer p {
    color: grey;
    font-size: 14px;
}

/* Main content area */
.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

/* Input and Button Styling */
input {
    background: #2c2c2c;
    border: none;
    color: #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

input:focus {
  border: #8a2be2;
}

button {
    background: #2c2c2c;
    border: none;
    color: #e1e1e1;
    border-radius: 50px;
    padding: 12px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a0dad;
    animation: subtleGlow 3s infinite;
}

/* Chatbox Styling */
.chatbox {
    border: 1px solid #6a0dad;
    width: 90%;
    height: 50vh;
    overflow-y: auto;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#messageInput {
    width: 70%;
}

#partnerStatus {
    color: #6a0dad;
    font-weight: bold;
    animation: fadeIn 1s;
}

/* Message Bubbles */
.self-message {
    align-self: flex-end;
    background-color: #4a4a4a;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    max-width: 70%;
    color: #e1e1e1;
}

.partner-message {
    align-self: flex-start;
    background-color: #6a0dad;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    max-width: 70%;
    color: #e1e1e1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hidden {
    display: none;
}

hr {
    width: 50%;
    height: 2px;
    background: #7417ca;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    position: relative;
    animation: subtleGlow 3s infinite;
}

@keyframes subtleGlow {
    0% {
        box-shadow: 0 0 3px #8a2be2, 0 0 6px #8a2be2, 0 0 9px #8a2be2;
    }
    50% {
        box-shadow: 0 0 4px #8a2be2, 0 0 8px #8a2be2, 0 0 12px #8a2be2;
    }
    100% {
        box-shadow: 0 0 3px #8a2be2, 0 0 6px #8a2be2, 0 0 9px #8a2be2;
    }
}

/* Icon Styling */
button i {
    color: #e1e1e1;
}

#send-button {
  display: inline;
}
